body{
    background-color: aqua;
}
img {
    /* position: absolute; */
    height: 113px;
    width: 80%;
    object-fit: cover;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}


.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;}

   #msg{
    font-size: 1px;
   }